<div class="container mt-3">
   
  
    <!-- Dropdown menu for adding new listing -->
    <div class="dropdown mt-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Listings
      </button>
      <div class="dropdown-menu" >
        <a class="dropdown-item" routerLink="userListings">My Listings</a>
        <a class="dropdown-item" routerLink="addProduct">Add Listing</a>

      </div>
    </div>
  
    <!-- Display other listings or details here -->
  </div>
  
