<div class="card">
    <img src="{{product?.imageData | base64:product.imageData}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product?.productName}}</h5>
      <!-- <p class="card-text">{{product.description}}</p>
       -->
      <h6 class="price"> {{ product?.price | currency:'INR':'symbol':'1.2-2' }}</h6>
      
      <!-- <a href="#" class="btn btn-primary ">Details</a> -->
      <a routerLink="/productDetails/+{{product.id}}" class="btn btn-primary ">Details</a>
    </div>
  </div>

  